html, body{
	overflow-x: hidden;
}

#login_box{

	background-color: white !important;
	border-radius: 10px;
	z-index: 2;
}
#login_form{
	padding: 2% 2% 2% 2%;
}
#login_form:after{
	display: block;
	content:"";
	position: absolute;
	top:10%;
	right: 0;
	width: 2px;
	height: 80%;
	background: #000;
}
.ajustar_medio{
	margin-top: auto;
	margin-bottom: auto;

}
a#logo{
	font-family: 'Baloo Paaji 2', cursive;
	font-size: 28px;
}
#logo p {
	font-family: 'Baloo Paaji 2', cursive;
	font-size: 30px;
}
.error{
	top:-50px;
}

nav.navbar{
	background-color: rgb(143, 189, 227)!important;
}
.all-container{
	background-color: #F1F1F1;
	width: 100%;
	height: 100%;
}

#wrap-contenido > div{
	background: #FFFFFF;
	border-radius: 10px;
	min-height: 500px;
}
@media (max-width: 992px) { 
	#login_form:after{
		visibility: hidden!important;
	}
.error{
		top:-74px;
	}
}